@page "/role-manager"
@using Domain.Enums

<div class="container">
    <div class="form-card">
        <h3 class="form-title">Provide Admin Functionality</h3>

        <EditForm Model="@_roleChangeRequest" OnValidSubmit="@HandleRoleChange" class="sub-form">
            <DataAnnotationsValidator/>

            <div class="form-group">
                <label for="email" class="form-label">Identifier</label>
                <InputText id="email" @bind-Value="_roleChangeRequest.Email" class="form-control"
                           placeholder="Enter user identifier" @oninput="SearchEmailSuggestions"/>
                <ValidationMessage For="@(() => _roleChangeRequest.Email)"/>
                @if (_emailSuggestions.Any())
                {
                    <ul class="suggestions-list">
                        @foreach (string suggestion in _emailSuggestions)
                        {
                            <li @onclick="() => SelectSuggestedEmail(suggestion)">@suggestion</li>
                        }
                    </ul>
                }
            </div>

            <div class="form-group">
                <label for="roleString" class="form-label">Role</label>
                <InputSelect id="roleString" @bind-Value="_roleChangeRequest.RoleString" class="form-control">
                    @foreach (UserRole role in Enum.GetValues(typeof(UserRole)).Cast<UserRole>())
                    {
                        <option value="@role.ToString()">@role.ToString()</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => _roleChangeRequest.RoleString)"/>
            </div>

            <button type="submit" class="btn-primary">Submit</button>
        </EditForm>
    </div>
</div>