@page "/profile"

<PageTitle>@_pageTitle</PageTitle>

<div class="page-container">
    <div class="header-section">
        <h2>@_headerTitle</h2>
    </div>
    <div class="profile-content">
        <div class="profile-image-section">
            @if (!string.IsNullOrEmpty(_profileImageSrc))
            {
                <img src="@_profileImageSrc" alt="@_profilePhotoAlt"/>
            }
            else
            {
                <p>@_noPhotoAvailable</p>
            }
        </div>
        <div class="profile-info-section">
            @if (_profile is not null)
            {
                <p><strong>@_labelName:</strong> @_profile.UserName</p>
                <p><strong>@_labelEmail:</strong> @_profile.Email</p>
                @if (!string.IsNullOrEmpty(_profile.PhoneNumber))
                {
                    <p><strong>@_labelPhone:</strong> @_profile.PhoneNumber</p>
                }
            }
        </div>

        <div class="profile-actions">
            <button class="btn-primary">@_buttonModifyInformation</button>
            <button class="btn-secondary" @onclick="OnPasswordChange">@_buttonChangePassword</button>
        </div>
    </div>
</div>